@font-face {
    font-family: "Anonymous Pro";
    src: url(fonts/AnonymousPro-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Anonymous Pro";
    src: url(fonts/AnonymousPro-Regular.ttf);
}

body {
    margin: 0%;
    padding: 0%;
    background-color: #F1F1F1;
    line-height: 20px;
    font-family: "Anonymous Pro";
    display: grid;
    grid-template-rows: 88px 1fr 72px;
    min-height: 100vh;
}

.header {
    height: 100px;
    background: #FFFFFF;
    border-bottom: 1px solid #A1A6B4;
}

.hed-fot {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-hed {
    margin: 25px 0px 0px 169px;
}

 .hed-li{
    margin-right: 185px;
}

.ul {
    display: flex;
    list-style-type: none;  
    gap: 24px;
    font-weight: bold;
    font-size: 20;
}

header a {
    text-decoration: none;
    color: #000000;
}

.t-div{
    padding: 40px;
    display: flex;
    justify-content: space-around;
    margin-top: 13px;
    height: 600px;
    background-color: #eae4bc;
    align-items: center;
    height: max-content;
}

.all-sneaker{
    height: 550px;
    border: 1px solid rgb(125, 124, 124);
    border-radius: 5px;
}

.r-div{
    width: 480px;
    height:max-content;
    background-color: #FFFFFF;
    border-radius: 8px;
    text-align: center;
}

h3{
    margin: 40px 15px 0px 15px;
    font-size: 31px;
    font-weight: bold;
}

.price-p{
    color: #FFFFFF;
    font-size: 26px;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0px;
}

.description{
    margin: 60px 35px;
    font-family: Arial, sans-serif;
    line-height: 30px;
    font-size: 20;
}

.price{
    background-color: black;
    display: flex;
    justify-content: space-around;
    height: max-content;
    padding: 25px 5px;
}

.price:hover {
    background-color: #303030;
}

.full-description {
    text-align: justify;
    margin-left: 172px;
    padding-right: 200px;
    font: 24px Arial, Helvetica, sans-serif;
  }

.footer {
    height: max-content;
    background: #121723;
    color: #FFFFFF;
    margin-top: 10px;
}

.all_footer {
    flex-direction: column;
    width: 100%;
    margin-top: 0px;
}

.logo-fot{
    margin-left: 173px;
}

.fot-li{
    margin-right: 185px;
}

footer a {
    text-decoration: none;
    color: #FFFFFF;
}

hr{
    margin: 0px 185px 0px 173px;  
}

h4 {
    color: #A1A6B4;
    text-align: center;
    margin: 20px 0px;
    font-size: 16px;
}

.a-sneaker{
    text-decoration: none;
    width: max-content;
}